{% extends 'base/base.html' %}
{% load static %}
{% block content %} 
<main id="main" class="main">
    <div class="pagetitle">
        <h1 class="card-title">Despesas</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item">Despesas</li>
                <li class="breadcrumb-item active">Lista de Despesas</li>
            </ol>
        </nav>   
            
        <div class="card">
            <!-- <div class="card-body">
                <h5 class="card-title">Despesa Detalhada</h5>    
            </div> -->

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Despesa {{ condicao }}</h5>                   
                    
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th>Status</th>
                                <td style="background-color: {{ cor }}"> {{ condicao }} </td>
                            </tr>
                            <tr>
                                <th>Data</th>
                                <td><span style="user-select: none;">{{ despesa.data|date:"d/m/Y" }}</span></td>
                            </tr>
                            <tr>
                                <th>Valor R$</th>
                                <td>{{ despesa.valor }}</td>
                            </tr>
                            <tr>
                                <th>Descrição</th>
                                <td>{{ despesa.descricao }}</td>
                            </tr>
                            <tr>
                                <th>Categoria</th>
                                <td>{{ despesa.categoria }}</td>
                            </tr>
                            <tr>
                                <th>Conta Débito</th>
                                <td>{{ despesa.conta_debito }}</td>
                            </tr>
                            <tr>
                                <th>Débito Efetivado</th>
                                <td>{{ despesa.get_debito_ja_realizado_display }}</td>
                            </tr>
                            <tr>
                                <th>Proprietário</th>
                                <td>{{ despesa.proprietario }}</td>
                            </tr>
                            <tr>
                                <th>Registro no Sistema</th>
                                <td>{{ despesa.data_registro|date:"d/m/Y" }}</td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

                <div style="display: flex; padding: 10;">
                    <div style="display: flex; padding: 10;">
                        {% if despesa.despesa_status == 'Efetivado' %}
                            <a href="{% url 'despesa-estornar' despesa.id %}"><button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 5px; margin-right: 10px; margin-left: 20px;">Estornar</button></a>
                            <a href="{% url 'despesa-deletar' despesa.id %}"><button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 5px; margin-right: 50px;">Deletar</button></a>
                        {% else %}    
                            <a href="{% url 'despesa-efetivar' despesa.id %}"><button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 5px; margin-right: 10px; margin-left: 10px;">Efetivar</button></a><br>
                            <a href="{% url 'despesa-editar' despesa.id %}"><button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 5px; margin-right: 10px;">Editar</button></a><br>
                            <a href="{% url 'despesa-deletar' despesa.id %}"><button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 5px; margin-right: 50px;">Deletar</button></a>
                        {% endif %}    
                    </div>
                    
                    <a href="{% url 'lista-despesas' %}" style="margin-right: 10px;">
                        <button type="button" class="btn btn-outline-secondary btn-sm" style="padding: 5px 15px; background-color: cadetblue; color: black;">Retornar</button>
                    </a>
                </div>
            </div>           
        </div>
    </div> 
</main>
{% endblock %}