{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1 class="card-title">Investimentos em Previdência Privada</h1>
            <nav>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                  <li class="breadcrumb-item">Investimentos</li>
                  <li class="breadcrumb-item">Previdência Privada</li>
                  <li class="breadcrumb-item active">Novo Investimento</li>
                </ol>
            </nav>
        </div> 

        <div class="card">
			<div class="card-body">
				<h5 class="card-title">Novo Investimento em Previdência Privada</h5>
                <form id="investimentoForm" action="{% url 'cadastrar-investimento-prev' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} 
                    
                    {% for field in form_novo_investimento.visible_fields %}
                        <div class="row mb-3">
                            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{field.label}}</label>
                            <div class="col-sm-10">{{ field }}</div>
                        </div>
                    {% endfor %}
                        <div class="row mb-3">
                            <div class="col-sm-10">
                                <button type="submit" class="btn btn-primary">Cadastrar Investimento</button>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </main>>

    <script src="{% static 'js/jquery-3.7.1.js' %}"></script>
    <script>
        $(document).ready(function(){
            // Adicione um identificador aos campos de data para facilitar a seleção
            var dataInvestimentoField = $('#id_data_investimento');
            var debitoJaRealizadoField = $('#id_investimento_debitado_em_conta');

            dataInvestimentoField.change(function(){
                // Obter o valor da data e converter para objetos Date
                var dataInvestimento = dataInvestimentoField.val();
                var dataInvestimento = new Date(dataInvestimento);

                // Obter a data atual do sistema
                var hoje = new Date();

                // Verificar se a "data" da receita é posterior a data "hoje"
                if ((dataInvestimento > hoje))
                {
                    alert('Você está lançando uma data futura. O Investimento será cadastrado como Débito NÃO Realizado, independente de sua resposta em "Valor Debitado em Conta".');
                }
            });
        });
    </script>
{% endblock %}