{% extends 'base/base.html' %}
{% load static %}
{% block content %} 
<main id="main" class="main">
    <div class="pagetitle">
        <h1 class="card-title">Receitas</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item">Receitas</li>
                <li class="breadcrumb-item active">Lista de Receitas</li>
            </ol>
        </nav>   
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filtrar Status:
                        <a href="{% url 'lista-receitas-registradas' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Registradas</button></a>
                        <a href="{% url 'lista-receitas-efetivadas' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Creditadas</button></a>
                        <a href="{% url 'lista-receitas-atrasadas' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Atrasadas</button></a>
                        <a href="{% url 'lista-receitas-futuras' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Futuras</button></a>      
                        <a href="{% url 'lista-receitas' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Todas</button></a>
                        <br><br>Filtrar Mês:
                        <a href="{% url 'lista-receitas-do-mes-anterior' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Mês Anterior</button></a>      
                        <a href="{% url 'lista-receitas-do-mes-atual' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Mês Atual</button></a>      
                        <a href="{% url 'lista-receitas-do-mes-proximo' %}"><button type="button" class="btn btn-outline-secondary btn-sm">Próximo Mês</button></a>      
                    
                    </h5>  
                </nav>   
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Receitas - {{ hoje }}</h5> 
                                        
                  <!-- Table with stripped rows -->
                  <table class="table table-hover" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col">Data</th>
                            <th scope="col">Valor R$</th>
                            <th scope="col">Descrição</th>
                            <th scope="col">Categoria</th>
                            <th scope="col">Conta Crédito</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>

                    {% for receitas_cadastradas in lista_receitas %}
                        <tbody>
                            <tr>
                                <td>{{ receitas_cadastradas.data|date:"d/m/Y" }}</td>
                                <td>{{ receitas_cadastradas.valor }}</td>
                                <td>
                                    <a href="{% url 'receita-detalhada' receitas_cadastradas.id %}">
                                        {{ receitas_cadastradas.descricao }}    
                                    </a>
                                </td>
                                <td>{{ receitas_cadastradas.categoria }}</td>
                                <td>{{ receitas_cadastradas.conta_credito }}</td>
                                <td style="width: 10px; background-color: {{ receitas_cadastradas.cor }}; text-align: center">
                                    {{ receitas_cadastradas.condicao }}
                                </td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </main>
{% endblock %}