{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1 class="card-title">Categoria de Despesa</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                    <li class="breadcrumb-item">Despesas</li>
                    <li class="breadcrumb-item active">Editar Categoria</li>
                </ol> 
            </nav> 
        </div>  
        
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Editar Categoria de Despesa</h5>
                <form action="{% url 'editar-categoria-despesa' categoria_id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %} 
                    
                    {% for field in form_editar_categoria.visible_fields %}
                        <div class="row mb-3">
                            <label for="{{ field.id_for_label }}" class="col-sm-2 col-form-label">{{field.label}}</label>
                            <div class="col-sm-10">{{ field }}</div>
                        </div>
                    {% endfor %}
                    <struct style="display: flex; justify-content: left;">
                        <div style="display: inline-block; padding: 10px 10px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; margin-right: 10px; transition: background-color 0.3s;">
                            <a href="{% url 'lista-categorias-despesas' %}" style="text-decoration: none; color: #fff;">Cancelar</a>
                        </div>
                        <div style="display: inline-block; padding: 10px 10px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px; margin-right: 10px; transition: background-color 0.3s;">
                            <button type="submit" style="text-decoration: none; color: #fff; background-color: transparent; border: none;">Editar Categoria</button>
                        </div>
                    </struct>                  
                </form> 
            </div>
        </div>
    </main>
{% endblock %}